<!DOCTYPE html>
<html>
<head>
  <title>Maildown</title>
  <%= stylesheet_link_tag    "maildown/application", media: "all" %>
  <%= javascript_include_tag "maildown/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
